body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
  overflow: scroll;
  margin-top: 200px;
}

.container {
  width: 310px;
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}

.container > .tophalf > img {
  width: 280px;
  height: 320px;
  border-radius: 5%;
}

.container > .bottomhalf {
  text-align: center;
  width: 250px;
}

.container > .bottomhalf > h3 {
  font-weight: 700;
}

.container > .bottomhalf > p {
  font-weight: 400;
  font-size: 15px;
  color: gray;
}

.attribution {
  display: flex;
  flex-direction: column;
}